<div class="auth-main-container">
  <mat-card class="mat-card-container">
    <mat-card-header>
      <mat-card-title>
        <h2>Enter new password to reset.</h2>

        <div class="alert alert-danger" *ngIf="submitError">{{message}}</div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate>
        <mat-form-field>
          <input type="password" matInput formControlName="newPassword" placeholder="*Enter new password (at least 6 characters)">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="(resetPasswordForm.controls['newPassword'].dirty || resetPasswordForm.controls['newPassword'].touched) && resetPasswordForm.controls['newPassword'].invalid">Password must be at least 6 characters long.</div>

        <mat-form-field>
          <input type="password" matInput formControlName="confirmPassword" placeholder="*Confirm new password">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="(resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched) && resetPasswordForm.controls['confirmPassword'].invalid">Confirm your password correctly.</div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div class="card-actions-container">
        <div class="reset-button-container">
          <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>
        </div>

        <div class="auth-action-container">
          <button mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">Reset password</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
