<div class="auth-main-container" *ngIf="!isSubmitted">
  <mat-card class="mat-card-container">
    <mat-card-header>
      <mat-card-title>
        <h2>Please enter your Email address to send you recovery code.</h2>

        <div class="alert alert-danger" *ngIf="submitError">{{message}}</div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" novalidate>
        <mat-form-field>
          <input type="email" matInput formControlName="email" placeholder="*Enter your email address (example@mail.com)">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="(forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched) && forgotPasswordForm.controls['email'].invalid">Enter correct email address.</div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div class="card-actions-container">
        <div class="reset-button-container">
          <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>
        </div>

        <div class="auth-action-container">
          <button mat-raised-button color="primary" [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()">Confirm</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<div class="forgot-password-container" *ngIf="isSubmitted">
  <div class="alert alert-success" *ngIf="submitSuccess">{{message}}</div>
</div>
